spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=batchdb;encrypt=false
    username: sa
    password: 12345
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  h2:
    console:
      enabled: true
      path: /h2-console

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false   # ? r?t quan tr?ng

logging:
  level:
    com.zaxxer.hikari: DEBUG